/* Esta propiedad cambia el modelo de caja predeterminado para que el ancho y alto de los elementos incluyan el padding y el borde,
 y no solo el contenido. Esto facilita el diseño de la página porque el tamaño final de los elementos es más predecible*/
 html {
    box-sizing: border-box;
    font-size: 62.5%;
}

/*Esta regla asegura que todos los elementos del documento, así como sus pseudo-elementos before y after, hereden la propiedad box-sizing del elemento raíz html.
 Esto mantiene la consistencia en el modelo de caja a través de todo el documento*/
*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 2;
}

/*Globales*/
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    /*centrar el contenido horizontalmente, si no le sacamos el margin*/
}

a {
    text-decoration: none;
    /*quitar las decoraciones de los enlaces*/
}

/*.......*/